body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100VH;
    display: flex;
    justify-content: CENTER;
    align-items: center;   
    background-color: rgb(231, 231, 231);
    font-family: 'Inconsolata', monospace;
  
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        background-color: rgba(140, 170, 231, 0.685);
        padding: 0px 10px  0px 10px;
        border-radius: 10px 10px 5px 5px;
        max-width: 320px;
        border: none;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
     

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .display{
                
                input{
                    margin-left: 1px;
                    background-color: rgba(140, 170, 231, 0.685);
                    max-width: 320px;
                    border: none;
                    outline: none;
                    text-align: right;
                    font-family: 'Inconsolata', monospace;
                    transition-delay: 100ms;
                }
                #output_main{
                    height:60px;
                    font-size: 50px;
                    font-weight: 600;
                    letter-spacing: .8px;
                    border-radius: 10px 10px 0px 0px;
                }
                #output_main:hover{
                    font-size: 35px;
                }
                #output_sub{
                    padding: 5px 3px;
                    color:  rgba(0, 0, 0, 0.425),;
                    font-size: 25px;
                    font-weight: 600;
                    width: 320px;
                    // border-radius:  0px 0px 10px 10px;
                }
            }

            .trigo{
                width: 100%;
                align-items: left;
                button{
                    padding: 0px;
                    width: 80px;    
                    height:40px;    
                    background: none;
                    border: none;
                    font-weight: 600;
                    font-family: 'Kanit', sans-serif;
                    letter-spacing: 1px;
                    font-size: 18px;
                }
                button:hover{
                    color: aliceblue;
                }

            }
            
            .memory{
                width: 100%;
                display: flex;
                justify-content: center;
                
                table{
                    white-space:nowrap;
                    width:100%;
                 
                    tr{
                        td{
                            text-align: center;
                            vertical-align: middle;

                            button{
                                width: 100%;
                                height:40px;   
                                font-family: 'Kanit', sans-serif;
                                background:  rgba(183, 199, 231, 0.644);
                                border: none;
                                font-weight: 400;
                                letter-spacing: 1px;
                                font-size: 25px;
                                font-size: 18px;
                            }
                            
                        } 
                        td:hover{
                            button{
                                background:  rgba(135, 152, 187, 0.644);
                            }
                        }    
                    }
                }
            }
            


            .dropdown{
                display:flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;             
                font-size: 18px;

                    .icon{
                        margin-right: -2px;
                    }
                    .btn{
                        padding: 0px;
                        margin: 0px;
                        
                        button{
                            font-family: 'Inconsolata', monospace;
                            border: none;
                            background:  rgba(90, 106, 138, 0.74);
                            font-weight: 500;
                            letter-spacing: .2px;
                            border-radius: 5px;
                            min-width: 40px;
                            height:20px;
                            color: rgb(238, 238, 238);
                        }
                        padding: 5px 5px 5px 5px;
                        display: flex;
                        align-items: center;
                        
                    }
                    .btn:hover{
                        button{
                            
                            background:  rgba(99, 115, 148, 0.644);
                        }
                    }

                
             
            }
            
            .table{
                width: 100%;
                
                table{
                    white-space:nowrap;
                    width:100%;
                    
                    tr{
                        td{
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 4px;
                            button{
                                width:60px;
                                height:40px;    
                                background:rgba(245, 245, 245, 0.534);
                                border: none;
                                font-weight: 400;
                                font-family: 'Kanit', sans-serif;
                                letter-spacing: 1px;
                                font-size: 15px;
                                border-radius: 4px;
                            }
                            .heighlights{
                                font-weight: 600;
                                font-size: 20px;
                                font-family:'Inconsolata', monospace;
                                background: whitesmoke;
                            }
                            .equals{
                                font-weight: 600;
                                font-family:'Inconsolata', monospace;
                                background: rgba(164, 247, 116, 0.753);
                            }
                                                       
                        }   
                        td:hover{
                            button{
                                border: 2px solid rgb(158, 158, 158);
                            }
                        } 
                    }
                }
            }
        }


    }



}
*{
    box-sizing: border-box;
    margin: 0%;
    transition-delay: 4ms;
}